{% comment %} <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="print" name="form1" method="post" action="">
  <table width="471" height="364" border="1">
    <tr>
      <th width="461" height="109" scope="col"><label>
        Bid 365
      </label></th>
    </tr>
    <tr>
      <th height="72" scope="col"><p>It is shown that {{sell}} is willing to give his {{pn}} of amount {{amt}} to {{buyer}}.
        The buyer must buy the product unless the product is fake or the seller 
        have done any misrepresentation. The seller have the responsibility 
        to deliver the product to the buyer on the specified bid amount.</p>
      </th>
    </tr>
    <tr>
      <td height="70"><div align="right">ADMIN BID 365 </div></td>
    </tr>
  </table>
</form>
</body>
</html> {% endcomment %}




<!DOCTYPE html>
<html>

<head>
	<title>
		Print the content of a div
	</title>
	
	<!-- Script to print the content of a div -->
	<script>
		function printDiv() {
			var divContents = document.getElementById("GFG").innerHTML;
			var a = window.open('', '', 'height=500, width=500');
			a.document.write('<html>');
			a.document.write('<body > <h1>Div contents are <br>');
			a.document.write(divContents);
			a.document.write('</body></html>');
			a.document.close();
			a.print();
		}
	</script>
</head>

<body style="text-align:center;">
	
	<div id="GFG" style="background-color: green;">
		
		
      <tr>
        <th width="250" height="109" scope="col"><label>
          <h2>Bid 365</h3><br><br>
        </label></th>
      </tr>
      <tr>
        <center>
        <th height="72" scope="col" align="center"><p align="center">It is shown that {{sell}} is willing to give his {{pn}} of amount {{amt}} to {{buyr}}.
          <br>The buyer must buy the product unless the product is fake or the seller have done any misrepresentation. <br>The seller 
          have the responsibility to deliver the product to the buyer on the specified bid amount.</p>
        </center>
        </th>
      </tr>
      <br><br>
      <tr>
        <td height="70"><div align="right">ADMIN BID 365 </div></td>
      </tr>
    
  


	</div>
	
	<input type="button" value="click" onclick="printDiv()">
</body>

</html>					

